h1 Комментрий удален!
p = "\"#{@comment.body}\""
p
  |
  = t '.author'
  '  :
  strong = @comment.user_name
p Его больше нет!

hr

p = event_url(@event)

= t '.event'
h3 = @event.title

= t '.datetime'
h4 = l @event.datetime

= t '.owner'
h4 = @event.user.name
